<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="description" content="Förderverein der KiTa Cloppenburger Straße"/>
        <meta name="keywords" content="Förderverein, KiTa, Oldenburg"/>
        <meta name="author" content="André Schreck"/>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <header>
            <a href="/">
                <div class="logo"></div>
            </a>
            <nav>
                {% for nav in site.data.navigation %}
                    <a href="{{ nav.link }}" {% if page.url == nav.link %}class="selected"{% endif %}>{{ nav.label }}</a>
                {% endfor %}
            </nav>
        </header>

        <div class="spacer"></div>
            
        <div class="content">
            {{ content }}
        </div>

        <footer>
            <div class="column">
                <a href="impressum.html">Impressum</a>
                <a href="#">Datenschutz</a>
            </div>
            <div class="column"></div>
            <div class="column"></div>
        </footer>
    </body>
</html>