<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="description" content="Förderverein der KiTa Cloppenburger Straße"/>
        <meta name="keywords" content="Förderverein, KiTa, Oldenburg"/>
        <meta name="author" content="André Schreck"/>
        <title>{{ page.title }}</title>
        <script src="https://kit.fontawesome.com/64ae5d1b44.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/css/styles.css" />
        <script type="text/javascript" src="/assets/js/menu.js"></script>
    </head>
    <body>
        <div class="warning">Das ist aktuell ein Entwicklungsstand und wird noch bearbeitet.</div>
        {% include header.html %}

        <div class="spacer"></div>
            
        <div class="content">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>

        {% include footer.html %}
    </body>
</html>